<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="adminServerPath" value="http://localhost:1038/FnF/"/>
    <add key="FacebookAppId" value="258392321037759"/>
    <add key="FacebookAppSecret" value="bda7a27fda84dfc5696fc949f1c61510"/>
    <add key="hostUrl" value="http://fabnfresh.com/"/>
    <add key="staticPath" value="http://admin.shoppersfloor.com/FnF/"/>
    <add key="MailServer" value="smtpout.secureserver.net"/>
    <add key="MailUsername" value="support@shoppersfloor.com"/>
    <add key="MailPassword" value="support@123"/>
    <add key="MailFrom" value="support@fabnfresh.com"/>
    <add key="EnableErrorLogEmail" value="false"/>
    <add key="ErrorLogEmail" value="support@shoppersfloor.com"/>
    <add key="SiteName" value="FnF"/>
    <add key="cacheExpireHour" value="12"/>
    <add key="cacheEnable" value="true"/>
    <add key="Above" value="3000"/>
    <add key="Below" value="500"/>
    <add key="VAT" value="4"/>
    
    <add key="ShippigCharge" value="0"/>
    <add key="CC_NO" value="+91 7042121501/02"/>
    <add key="PurchiOrderPlacedEmailID" value="support@fabnfresh.com"/>
    <!--customer care no-->
    <add key="CC_Email" value="customercare@fabnfresh.com"/>
    <!--customer care no-->
    <add key="OrderTrakerEmail" value="orderTracker@fabnfresh.com"/>
    <add key="ErrorInfoEmail" value="errorinfo@shoppersfloor.com"/>
    <!--logger info-->
    <add key="IsDebugOn" value="No"/>
    <add key="IsWarningOn" value="No"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Conn" connectionString="Data Source=184.168.47.10,1433;Initial Catalog=SF_DB; User ID=SF_ADMIN;Password=sfloor@123;MultipleActiveResultSets=true; Timeout=100000" />
    <add name="Conn" connectionString="Data Source=(local);Initial Catalog=MEGA_DB; User ID=sa;Password=sa@123;MultipleActiveResultSets=true; Timeout=3000" providerName="System.Data.SqlClient" />-->
    <add name="Conn" connectionString="Data Source=(local);Initial Catalog=FnF_DB; User ID=sa;Password=sa@123;MultipleActiveResultSets=true; Timeout=3000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<location allowOverride="true">
    <system.web>
   
      <fullTrustAssemblies>
        <add  assemblyName="NVelocity" version="1.4322" publicKey="407dd0808d44fbdc"/>
       </fullTrustAssemblies>
    </system.web>
  </location>-->
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <pages>
      <namespaces>
        <add namespace="MFO.Utils"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <httpHandlers>
      <clear/>
      <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
  </system.web>
  <rewriter>
    <!-- ======================== START Category Details Page ======================================= -->
    <if url='~/(.+)?htm'>
      <rewrite to='~/sfloor/pages/CatDetails.aspx' processing='stop'/>
    </if>
    <!-- ======================== END Category Details Page ======================================= -->
    <!-- ========================START Product Type ======================================= -->
    <if url='~/Food-n-Groceries/Groceries/Atta'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRAT' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Sabut-Spices/Ajwain'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSSAJ' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Akrot'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCAKROT' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Almond'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCALMOND' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee/Ghee'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGOLGGH' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Anjeer'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCANJEER' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Hair-Removal'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCPHHRMVAL' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Lotion-N-Aftershave'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCPSHNDSLNAFSH' processing='stop'/>
    </if>
    <if url='~/Fruits-n-Vegetables/Fruits/Fruits'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGFVF' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Cold-Drinks'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRCLDR' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Hair-Care'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCHCCND' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Sugar'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRSGR' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Health-Drinks'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRHTHD' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Face-Care'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCFCFCECRM' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Soap-N-Handwash'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCSOPHW' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Tea-N-Coffee'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRTENCF' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Sabut-Spices/Cardomom-Badi-Elaichi-'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGSP' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Cashew'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCCASHEW' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Amchur-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPAMP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Black-Pepper'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPBPR' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Salt'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGSPSLT' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Chana-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPCNP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Chat-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPCHTM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Dhania-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPDHNP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Ginger-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPGNGP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Hing'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPHNG' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Jeera-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPJRP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Mirch-Powder-'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPMRCP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Sabji-Masala'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPSBJM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Turmeric-(Huldi)-Powder'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPHLDP' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Chilgoza'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCCHILGOZA' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Chironji'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCCHIRONJI' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Chuara'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCCHUARA' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Oral-Care'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCOCTUTHPST' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Cooking-Soda'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPCKS' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Rice'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRRIC' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Lotion-N-Cream'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCLTNCM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee/Olive-Oil '>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGOLGOOL' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Deo-N-Spray'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCDONSP' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Body-Talc'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCBDYTK' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Gur'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRGR' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee/Vegetable-Oil'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGOLGVOL' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Elaichi'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCELAICHI' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Meat-Masala'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPMETM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Sabut-Rai'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPSBTR' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices/Garam-Masala'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGSPGRMM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee/Mustard-Oil'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGOLGMOL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee/Refined-Oil'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGOLGROL' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Juice'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRJUCE' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Energy-Drinks'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRENRDR' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks/Sharbat'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=RFDRSHRBT' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Lip-Care'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCFCLC' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Poha'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRPHA' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Khumani'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCKHUMANI' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Kishmish'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCKISHMISH' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Arhar-Dal'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLADL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Chana'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLCDL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Lobhia'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLLB' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Masur-Dal'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLMSDL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Mix-Dal'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLMXDL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Moong-Dal'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLMDL' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Loose-Moongphali'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCMNGPHL' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Rajma'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLRJM' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals/Urad'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGDLUDT' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Magaz'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCMAGAZ' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Makhane'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCMAKHANE' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Man-Need'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCPHMNEED' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Munnakka'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCMUNNAKKA' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare/Pista'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=DFHCPISTA' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Besan'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGRBBSN' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Dalia'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRDLY' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Maida'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRMDA' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Sooji'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRSJI' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare/Sanitary-Napkins'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=SCBCPHSNTRYNPK' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Groceries/Boora'>
      <rewrite to='~/sfloor/pages/Categories.aspx?Pid=FGGRBR' processing='stop'/>
    </if>
    <!-- ========================END Product Type ======================================= -->
    <!-- ========================START Category Type ======================================= -->
    <if url='~/Food-n-Groceries/Groceries'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGGR' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Sabut-Spices'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGSS' processing='stop'/>
    </if>
    <if url='~/DryFruits/HealthCare'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=DFHC' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Oil-n-Ghee'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGOLG' processing='stop'/>
    </if>
    <if url='~/Selfcare/Bodycare'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=SCBC' processing='stop'/>
    </if>
    <if url='~/Fruits-n-Vegetables/Fruits'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGFV' processing='stop'/>
    </if>
    <if url='~/Refreshment/Drinks'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=RFDR' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Spices'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGSP' processing='stop'/>
    </if>
    <if url='~/Food-n-Groceries/Dals'>
      <rewrite to='~/sfloor/pages/Categories.aspx?CategoryType=FGDL' processing='stop'/>
    </if>
    <!-- ========================END Category Type ======================================= -->
    <if url="~/Search">
      <rewrite to="~/sfloor/pages/Categories.aspx" processing="stop"/>
    </if>
    <if url="~/Account">
      <rewrite to="~/sfloor/pages/MyAccount.aspx" processing="stop"/>
    </if>
    <if url="~/Compare-Products">
      <rewrite to="~/sfloor/pages/CompareItems.aspx" processing="stop"/>
    </if>
    <if url="~/logout">
      <rewrite to="~/sfloor/pages/AjaxService.aspx?action=logout" processing="stop"/>
    </if>

    <if url="~/contact-us">
      <rewrite to="~/ContactUs.aspx" processing="stop"/>
    </if>
    <if url="~/return-policy">
      <rewrite to="~/returnpolicy.aspx" processing="stop"/>
    </if>
    <if url="~/egiftcards">
      <rewrite to="~/egiftcards.aspx" processing="stop"/>
    </if>
    <if url="~/terms-of-use">
      <rewrite to="~/TermsOfUse.aspx" processing="stop"/>
    </if>
    <if url="~/privacy-policy">
      <rewrite to="~/sfloor/pages/privacy_policy.aspx" processing="stop"/>
    </if>
    <if url="~/faqs">
      <rewrite to="~/sfloor/pages/faqs.aspx" processing="stop"/>
    </if>
    <if url="~/our-story">
      <rewrite to="~/AboutUs.aspx" processing="stop"/>
    </if>
    <if url="~/Add-To-Cart">
      <rewrite to="~/sfloor/pages/AddtoCart.aspx" processing="stop"/>
    </if>
    <if url="~/check-out">
      <rewrite to="~/sfloor/pages/CheckoutPage1.aspx" processing="stop"/>
    </if>
    <if url="~/Opps-Sorry">
      <rewrite to="~/sfloor/pages/Error500.aspx" processing="stop"/>
    </if>
    <if url="~/doPaymint">
      <rewrite to="~/sfloor/pages/AjaxService.aspx?action=doPaymint" processing="stop"/>
    </if>
    <if url="~/fav-items">
      <rewrite to="~/sfloor/pages/WishList.aspx" processing="stop"/>
    </if>
    <if url="~/checkout-step-1">
      <rewrite to="~/sfloor/pages/CheckoutPage1.aspx" processing="stop"/>
    </if>
    <if url="~/checkout-step-2">
      <rewrite to="~/sfloor/pages/CheckoutPage2.aspx" processing="stop"/>
    </if>
    <if url="~/checkout-step-3">
      <rewrite to="~/sfloor/pages/CheckoutPage3.aspx" processing="stop"/>
    </if>
    <if url="~/Checkout">
      <rewrite to="~/sfloor/pages/CheckoutPage1.aspx" processing="stop"/>
    </if>
    <if url="~/Home">
      <rewrite to="~/Home.aspx" processing="stop"/>
    </if>  </rewriter>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
  </system.webServer>
</configuration>