<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FNF_DBConnectionString" connectionString="Data Source=184.168.47.10,1433;Initial Catalog=SF_DB; User ID=SF_ADMIN;Password=sfloor@123;MultipleActiveResultSets=true; Timeout=100000" />
    
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>