.right_inner_categorydetailsimagesdetails{  border: 1px solid #e3e3e3;float: left;margin: 10px 7px;min-height: 330px;position: relative;width: 143px;}
.right_inner_categorydetailsimagesdetails:hover{border:1px solid #000;}
.right_inner_categorydetailsimagesdetails .loading{border:none;position:absolute;background:url(../new-images/loader.gif) no-repeat center center;width:100%;height:100%;}
.right_inner_categorydetailsimagesdetails .loading img{background-size:100% auto;width:100%;}
.right_inner_categorydetailsimagesdetails img{color:#000;text-align:center;font-size:11px;}
.right_inner_categorydetailsimagesdetails:hover span.hover-image{opacity:1;filter:alpha(opacity=100);}
.right_inner_categorydetailsimagesdetails:hover .previmg{background:url(../new-images/arrow-l2.png) no-repeat scroll center center #04B404;border:1px solid #04B404;opacity:0.8;position:absolute;top:50%;z-index:3;padding:10px;}
.right_inner_categorydetailsimagesdetails:hover .nextimg{background:url(../new-images/arrow-r2.png) no-repeat scroll center center #04B404;border:1px solid #04B404;opacity:0.8;position:absolute;right:0;top:50%;z-index:3;padding:10px;}
.right_inner_categorydetailsimagesdetails:hover .previmg:hover{border:1px solid #000;opacity:1;}
.right_inner_categorydetailsimagesdetails:hover .nextimg:hover{border:1px solid #000;opacity:1;}
.right_inner_categorydetailsimagesdetails .hover-image{display:block;width:100%;position:absolute;max-width:100%;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity 150ms ease;-moz-transition:opacity 150ms ease;-o-transition:opacity 150ms ease;-ms-transition:opacity 150ms ease;transition:opacity 150ms ease;}
.right_inner_categorydetailsimagesdetails:hover .hover-image1{opacity:0.8;filter:alpha(opacity=90);}
.right_inner_categorydetailsimagesdetails .hover-image1{display:block;opacity:0.2;width:200px;height:40px;position:absolute;margin-top:310px;margin-left:90px;z-index:100;background-color:#04B404;-webkit-transition:opacity 150ms ease;-moz-transition:opacity 150ms ease;-o-transition:opacity 150ms ease;-ms-transition:opacity 150ms ease;transition:opacity 150ms ease;}
.boxgrid{width:100%;height:184px;margin:0 auto;overflow:hidden;position:relative;}
.boxgrid .right_inner_categorydetailsimagescss{position:absolute;top:0;left:0;border:0;}
.boxgrid p{font-weight:700;font:10pt "Lucida Grande", Arial, sans-serif;padding:0 10px;}
.right_inner_categorydetailsimagesname{width:100%;font:"Helvetica Neue",Helvetica,Arial,sans-serif;float:left;overflow:hidden;text-align:center;white-space:nowrap;text-overflow:ellipsis;-moz-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;}
.proddesc_275{width:275px;}
.categorydetails_inner_brandname{width:100%;text-align:center;font-weight:700;margin:10px 0;}

asfafd{box-shadow:1px 2px 9px #04B404;-moz-box-shadow:1px 2px 9px #04B404;-webkit-box-shadow:1px 2px 9px #04B404;-o-box-shadow:1px 2px 9px #04B404;}
.right_inner_categorydetailstext{width:730px;margin-top:20px;float:left;}
#right_inner_categorydetailsprevnext{width:730px;float:left;}
.right_inner_indexinternelimagescss{height:260px;width:245px;float:left;padding:0;}
.categorydetails_info_bottom{float:left;position:relative;width:100%;}


.wish-list{cursor:pointer;background:url(../new-images/bg-wishlist.png);position:absolute;height:20px;width:20px;z-index:1000;display:inline;margin:320px 0 0 245px;}
.wish-list:hover{background:url(../new-images/bg-wishlist.png) 50% 100%;cursor:pointer;}

.quick-view{background:url(../new-images/quickviewimg.png);cursor:pointer;position:absolute;padding-top:2px;height:25px;width:20px;z-index:1000;display:inline;margin:315px 0 0 210px;}
.quick-view:hover{background:url(../new-images/quickviewimg.png) 50% 100%;cursor:pointer;zoom:1;}
.compare-view{display: inline;left: 63px;    position: absolute;
    z-index: 10;}
.catcrumbs{width:900px;line-height:20px;color:navy;float:left;padding:5px;}
.compare-view span{   background: none repeat scroll 0 0 #000;
    border-radius: 6px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 87px;}
.compare-view span:after{  border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    content: "";
    height: 0;
    position: absolute;
    right: 11px;
    top: 100%;
    width: 0;}
.compare-view:hover span{ bottom: 38px;
    opacity: 0.9;
    right: 0;
    visibility: visible;
    z-index: 999;}
.wish-list span{position:absolute;width:100px;color:#FFF;background:#000;height:32px;line-height:32px;text-align:center;visibility:hidden;border-radius:6px;}
.wish-list span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-8px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent;}
.wish-list:hover span{visibility:visible;opacity:0.9;bottom:38px;left:50%;margin-left:-50px;z-index:999;}
.quick-view span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-8px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent;}
.quick-view:hover span{visibility:visible;opacity:1;bottom:40px;left:50%;margin-left:-46px;z-index:999;}
.quick-view span{position:absolute;width:100px;color:#FFF;background:#000;height:32px;line-height:32px;text-align:center;visibility:hidden;border-radius:6px;}
.compare-view label{font-weight:700;}
.compare-view input{margin-right:5px;}
/*.compare-view input:hover{}
.compare-view input:checked{outline:3px solid red;}*/
.wishquick1{border-bottom:1px solid #e3e3e3;padding:5px 0; display:block; background-color: #efefef;}
.wish-list1{cursor:pointer;background:url(../new-images/post-icons.png) -3px -202px;position:absolute;margin-left:5px;height:20px;width:25px;z-index:9;transition:none;display:inline;}
.wish-list1:hover{background:url(../new-images/post-icons.png) -3px -227px;cursor:pointer;}
.quick-view1{background:url(../new-images/post-icons.png) 0 -2px;cursor:pointer;position:absolute;margin-left:34px;height:20px;width:25px;z-index:9;transition:none;display:inline;}
.quick-view1:hover{background:url(../new-images/post-icons.png) 0 -127px;cursor:pointer;}
.wish-list1 span{  background: none repeat scroll 0 0 #000;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    height: 32px;
    left: -3px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100px;}
.wish-list1 span:after{border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    content: "";
    height: 0;
    left: 5px;
    position: absolute;
    top: 100%;
    width: 0;}
.wish-list1:hover span{ bottom: 38px;
    opacity: 0.9;
    visibility: visible;
    z-index: 999;}
.quick-view1 span:after{content:'';position:absolute;top:100%;left:50%;margin-left:-8px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent;}
.quick-view1:hover span{visibility:visible;opacity:1;bottom:40px;left:50%;margin-left:-46px;z-index:999;}
.quick-view1 span{font-size:12px;position:absolute;width:100px;color:#FFF;background:#000;height:32px;line-height:32px;text-align:center;visibility:hidden;border-radius:6px;}
.compare-view1 label{font-weight:700;}
.compare-view1 input{outline-color:hsl(0,0%,0%);outline-style:solid;outline-width:2px;margin-right:5px;}
.compare-view1 input:hover{outline:3px solid red;}
.compare-view1 input:checked{outline:3px solid red;}
.compare-view1{position:relative;display:inline;}
.wishlist-active{display:inline;background:url(../new-images/post-icons.png) -3px -227px;cursor:pointer;height:20px;margin-left:5px;position:absolute;width:25px;z-index:9;}
.compare-view1 span{position:absolute;width:88px;color:#FFF;background:#000;height:30px;line-height:30px;text-align:center;visibility:hidden;border-radius:6px;font-size:12px}
.compare-view1 span:after{border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    content: "";
    height: 0;
    left: 46%;
    position: absolute;
    top: 100%;
    width: 0;}
.compare-view1:hover span{ bottom: 26px;
    left: 6%;
    opacity: 0.9;
    visibility: visible;
    z-index: 9;}
.wishlist-active span{position:absolute;width:160px;color:#FFF;background:#000;height:32px;line-height:32px;text-align:center;visibility:hidden;border-radius:6px; font-size:12px}
.wishlist-active span:after{content:'';position:absolute;top:100%;left:30%;margin-left:-8px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent;}
.wishlist-active:hover span{visibility:visible;opacity:0.9;bottom:38px;left:20%;margin-left:-40px;z-index:999;}
.filter-body .inner-body .scroll{height:auto;max-height:280px;overflow-y:scroll;overflow-x:none;}
.filter-body .inner-body .scroll li{line-height:24px;width:100%;}
.filter-body .inner-body .scroll li a:hover{color:#04B404;}
.filter-body .inner-body .scroll li label:hover{color:#04B404;}
.filter-body .head-title{border-bottom:1px dotted #404040;border-top:1px dotted #404040;color:#484848;font-size:16px;font-weight:300;letter-spacing:1px;margin-top:17px;text-align:left;padding:5px 0;}
.filter-body .inner-body{margin-top:3px;}
.filter-body .title{color:#757575;font-size:28px;font-weight:700;text-align:center;text-transform:uppercase;}
.filter-body .head-title a{background:url(../new-images/exp.png) no-repeat scroll left center rgba(0,0,0,0);background-position:-29px 6px;color:#3b3b3b;display:block;float:right;text-decoration:none;padding:10px;}
.filter-body .head-title.active a{background:url(../new-images/exp.png) no-repeat scroll left rgba(0,0,0,0);background-position:0 6px;}
.filter-body .txt_filter{width:100%;height:23px;font-size:12px;}

.slider-container {
border: 1px solid gray;
overflow: hidden;
position: relative;
width: 100%;
}

.slider-container div {
height: auto;
position: relative;
width: auto;
overflow: hidden;
}

.slider-container div ul {
height: auto;
margin: 0;
overflow: hidden;
padding: 0;
}

.slider-container div ul li {
border-bottom: 1px solid #efefef;
color: #fff;
display: block;
float: left;
font-size: 13px;
list-style-type: none;
padding: 5px;
position: relative;
text-align: center;
width: 100%;

}
.slider-container > img {
max-width: 100%;
}
.slider{
max-width:100%;
width:100%;
text-align: center;
clear: both;
}
.slider-buttons a {
   display: inline-block;
    height: 19px;
    margin: 10px 2px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    width: 25px;
  
}
#preBtn2 a{
background:url(../new-images/home_slider_2_arr.png) no-repeat;
}
#nextBtn2 a{
background:url("../new-images/home_slider_2_arr.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0)
}
.ended a{
color:gray;
}
.catcrumbs {
width: 900px;
line-height: 20px;
display: inline;
float: left;
}

.catcrumbs ul li {
display: inline;
}
a.button_1, #close-compare{margin-left: 10px; margin-top: 10px;background: rgba(0,0,0,0);background:-moz-linear-gradient(centertop,#FFFFFF,#FFA500) repeat scroll 0 0 rgba(0,0,0,0);background:-webkit-linear-gradient(centertop,#FFFFFF,#FFA500) repeat scroll 0 0 rgba(0,0,0,0);border:1px solid #B1B1B1;border-radius:2px;box-shadow:0 1px 1px #E3E3E3;color:#666!important;display:inline-block;font-size:12px!important;font-weight:700;text-decoration:none;padding:3px 2px!important;}
a.button_1 {  background-color: #04B404; border: medium none;color: #fff!important }
/*#close-compare{background: rgba(0,0,0,0);background:-moz-linear-gradient(centertop,#FFFFFF,#FFA500) repeat scroll 0 0 rgba(0,0,0,0);background:-webkit-linear-gradient(centertop,#FFFFFF,#FFA500) repeat scroll 0 0 rgba(0,0,0,0);border:1px solid #B1B1B1;border-radius:2px;box-shadow:0 1px 1px #E3E3E3;color:#666!important;display:inline-block;font-size:12px!important;font-weight:700;text-decoration:none;padding:3px 2px!important;}*/


#compare_list a.close{background-color: #04B404;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    text-align: center;}
#compare_list{   background: none repeat scroll 0 0 #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    max-height: 265px;
    min-height: 100px;
    overflow-y: scroll;
    width: 215px;
    z-index: 10000;}
#compare_list ul{list-style-type:none;margin:0;padding:0;}
#compare_list ul li{background:none repeat scroll 0 0 #FFF;border:1px solid #E8E8E8;float:left;font-size:11px;width:182px;box-shadow:0 1px 3px rgba(0,0,0,0.15);margin:0 4px;padding:3px;}

.compare_product{
   max-height:350px;
    right: 0;
    position: fixed;
    top: 30%;
    width: 0;
    transition: all 0.5s ease 0s;
    z-index:9999;
    overflow:scroll
}
#compareProductList div {
    position: relative;
}
    .compare_product span {
        width: 34px;
    }
.compare_product span.arrow-left, .compare_product span.arrow-right {
    cursor: pointer;
   background: none repeat scroll 0 0 #04B404;
    position: absolute;
    top: 35%;
    width: 34px;
    color: #fff;
      padding: 5px;
      z-index:999
}
.compare_product span.arrow-left {
     right: 0;
    text-align: center;
    top: -30px;
    
}
.compare_product span.arrow-right {
    right: -2px;
    width: auto;
}
    .compare_product span.arrow-left {
        display: none;
    }


.compare_product {
    overflow: visible!important;
}
.select_varient {
    text-align: center;
    width: 100%;
    float:left
}
.noofprod{width: 20%;
  float: left;}